<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', boards_path, class: 'btn btn-outline-dark' %>
    <%= link_to '編集', edit_board_path(@board), class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice]%></div>
<% end %>
<%= render partial: 'board', object: @board %>
<div class="p-comment__list">
  <div class="p-comment_listTitle">コメント</div>
  <%# 今回の対象はcommentの為/app/views/commentは以下の_commnet.htm.erbが対象 %>
  <%= render @board.comments%>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment }%>